body {
  font-family: "Nunito Variable", sans-serif;
}

.acerca-de {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 32px;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(54, 54, 54);
}

.título {
  text-align: center;
}
