.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;

  color: var(--primary);
  padding: .4rem .4rem 0;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}

li {
  list-style: none;
}

a {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  font-family: var(--font-heading);
}

a:hover {
  color: var(--primary);
}
