:root {
  --primary: #0a74ff;
}

html {
  scroll-behavior: smooth;
}

/* botones */

.button {
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
  text-transform: capitalize;
}

.button-contact {
  background-color: var(--primary);
}

.button-primary {
  background-color: var(--primary);
}

.button-secondary {
  background-color: black;
  color: white;
}
.button-secondary:hover {
  background-color: rgb(55, 55, 55);
  color: white;
}

a.button-primary {
  color: white;
}

.button-primary:hover {
  background-color: #3482e2;
}

li a.button {
  color: white;
}

.full-width {
  width: 100%;
}