.navbar {
  color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.2rem;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  font-family: 'Nunito Variable', sans-serif;
}

li {
  list-style: none;
}

a:link {
  color: black;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}

a:visited {
  color: rgb(31, 28, 197);
}

a:hover {
  color: var(--primary);
}

a:active {
  color: rgb(66, 5, 235);
}

a.contact {
  background-color: var(--primary);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  text-transform: capitalize;
}

a.contact:hover {
  background-color: #3c8df8;
}

li a.button {
  color: white;
}
