.landing {
  position: relative;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}

.landing-cols {
  display: flex;
}

.landing-bubble {
  background-color: var(--primary);
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  width: fit-content;
}

.landing-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 4rem;
}

.landing-content h1 {
  font-size: 2.8rem;
  margin-bottom: 0;
  text-transform: uppercase;
  text-wrap: inherit;
}

.landing-content h1 span {
  color: var(--primary);
  text-decoration-line: underline;
}

.landing-content p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  color: rgb(80, 80, 80);
}

.landing-buttons {
  display: flex;
  gap: 1rem;
  text-align: center;
}
