.landing {
  position: relative;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}

.landing-cols {
  display: flex;
}

.landing-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 4rem;
}

.landing-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.landing-content h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

.landing-content p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  color: rgb(80, 80, 80);
}

.landing-buttons {
  display: flex;
  gap: 1rem;
  text-align: center;
}